@charset "utf-8";
@font-face{
    font-family: 'oswald';
    src: url('oswald.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
    body{
        background-color:#0D0D0D;
        margin: auto;
    }
    
    header{
        background-color: #F2BB16;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    header > h1{
        font-family: "oswald";
        font-weight: normal;
        text-indent: 10px;
    }
    main {
        padding: 10px;
        margin: auto;
        min-width: 320px;
        max-width: 800px;
    }
    .tempo{
        
    }
