@charset  "utf-8";
@font-face{
    font-family:'Verve';
    src: url('verve/Verve.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
body{
    background: url(storybook/imagens/maniraj-madishetty-v1cHuJxClF0-unsplash.jpg) center right no-repeat scroll;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
}
header > h1{
    font-family: "Verve";
    font-size: 50px;
    margin-bottom: 0px;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
}
header > p > a{
    text-decoration: none;
    color: white;
}
header a:hover{
    background-color: rgba(156, 151, 151, 0.384);
}
section > p{
    font-family: 'Sriracha', cursive;
    font-size: large;
    margin-left: 10px;
    padding: 20px;
}
.primeira{
    background-color: white;
    color: black;
    height: 300px;
    width: 300px;
}
.meio{
    background-color: rgba(0, 0, 5, 0.438);
    color: white;
    height: 300px;
    width: 300px;
}
